@model Energizappte.Data.Entities.Country

@{
    ViewData["Title"] = "Details";
}

<h1>Editar</h1>

<div>
  <partial name="_FormDetailsDelete" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Editar</a> 
    <a asp-action="Index" class="btn btn-outline-secondary ml-1">Regresar</a>
</div>
